<a href="https://colab.research.google.com/github/keroawad/AI-diploma/blob/main/Copy_of_task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
x=input("enter  string")
print(len(x))

enter  stringkero
4

In [ ]:
x=input("enter  string")
counter=0
for i in x:
    counter+=1
print(counter)

enter  stringkero
4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
x=input("enter  string")
if len(x)<=2:
    print("empty string")
else:
    print(x[:2]+x[-2:])

enter  stringw3resource
w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
x=input("enter  string ")
if len(x)<=3:
    print(x)
elif x[-3:]=="ing":
    print(x+"ly")
else:
    print(x+"ing")

enter  string abc'
abc'ing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
l=["kero","youssef","mi"]
def fun(y):
  x=[]
  for i in l:
      x.append(len(i))
  print(x)
  print(max(x))

fun(l)

[4, 7, 2]
7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
x=input("enter  string ")
print(x[-1]+x[1:-1]+x[0])

enter  string abce
ebca

In [ ]:
x=input("enter  string ")
l=list(x)
l[0],l[-1]=l[-1],l[0]
print(l)

enter  string abce
['e', 'b', 'c', 'a']

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
x=input("enter  string ")
print(x[::2])

enter  string abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
x="amr and ahmed are frindes but amr is the tallest"
x=x.split()
print(x)
print(".............")
count={}
for i in x:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

print (max(count.values()))

['amr', 'and', 'ahmed', 'are', 'frindes', 'but', 'amr', 'is', 'the', 'tallest']
.............
{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}
2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
x=input("enter  string ")
print(x.upper())
print(x.lower())

enter  string kero
KERO
kero

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def revers(x):
  if len(x)%4==0:
    print(x[::-1])
  else:
    print(x)
revers("awad")

dawa

**10- Write a Python program to remove a newline in Python

In [ ]:
x="dkshewjjf\nkjwg"
print(x)
z=x.replace("\n","")
print(z)

dkshewjjf
kjwg
dkshewjjfkjwg

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
text=input()
if text.startswith("a"):
    print("yes")
else:
    print("no")

awad badie
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
x="""
ke
ro
ules
"""

y="".join(x.splitlines())
print(y)

keroules

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
x = float(input("enter number: "))
print(f"{x:.2f}")

enter number: 4.3673
4.37

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
x = float(input("enter number: "))
print(f"{x:.2f}")

enter number: 4.3673
4.37

**15-Write a Python program to display a number with a comma separator

In [ ]:
x = int(input("Enter a number: "))
print(f"{x:,}")

Enter a number: 12334567
12,334,567

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
x=input("enter  string ")
print(x[::-1])

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
x="kjhqwfkf"
count={}
for i in x:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{'k': 2, 'j': 1, 'h': 1, 'q': 1, 'w': 1, 'f': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
x=input("enter  string ")
count={}
for i in x:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

**19-Write a Python program to remove spaces from a given string

In [ ]:
x=input("enter  string ")
print(x.replace(" ",""))

enter  string kero awad
keroawad

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
x=input("enter  string ")
n=len(x)
print(n*(n+1)/2)

enter  string abc
6.0

**21-write a Python program to swap first and last element of any list.

In [ ]:
x=[1,2,3,4,5]
x[0],x[-1]=x[-1],x[0]
print(x)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
x=[23, 65, 19, 90]
pos1=int(input("enter pos1"))
pos2=int(input("enter pos2"))
x[pos1],x[pos2]=x[pos2],x[pos1]
print(x)

enter pos11
enter pos23
[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [ ]:
x = [1, 2, 3, 4]
length = len(x)
print(length)

z=0
for i in x:
  z+=1
print(z)

4
4

In [ ]:
'**24-write a Python code to find the Maximum number of list of numbers.'
l=[67,9,547,890,456]
print(max(l))

890

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l=[67,9,547,890,456]
print(min(l))

9

**26-search for if an elem is existing in list

In [ ]:
x=int(input("enter number"))
l=[67,9,547,890,456]
if x in l:
    print("existing")
else:
    print("not existing")

enter number9
existing

**27- clear python list using different ways

In [ ]:
x=[67,9,547,890,456]
x.clear()
print(x)

x=[67,9,547,890,456]
del x[:]
print(x)

[]
[]

**28-remove duplicated elements from a list

In [ ]:
x=[67,9,547,890,456,9,67]
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(y)

x=[67,9,547,890,456,9,67]
x=set(x)
print(list(x))

[67, 9, 547, 890, 456]
[67, 547, 456, 9, 890]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:

test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
result = []
for i in range(0, len(test_list), 2):
    result.append({key_list[0]: test_list[i], key_list[1]: test_list[i + 1]})
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
x=[67,9,547,890,456,9,67]
y=[]
for i in x:
    if i not in y:
        y.append(i)
print(len(y))

x=[67,9,547,890,456,9,67]
x=set(x)
print(len(x))

x=[67,9,547,890,456,9,67]
z=len(dict.fromkeys(x))
print(z)

5
5
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
x=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=3
for i in count:
    if x.count(i)>k:
        print(i)

4
3

'///////////////'

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
z=int(input("size"))
x=[]
for i in range(z):
  y=int(input("enter number"))
  x.append(y)
print(x)
l=[]
for i in range(z-1):
  h= max(x[i], x[i + 1])
  l.append(h)
print(l)

size6
enter number1
enter number2
enter number2
enter number3
enter number4
enter number5
[1, 2, 2, 3, 4, 5]
[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
x=[1,2,3]
for i in x:
    for j in x:
        for k in x:
            if (i!=j and j!=k and i!=k):
                print(i,j,k)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

** bold text34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
x=[1,2,3]
for i in range(len(x)):
    for j in range(i + 1, len(x) + 1):
        print(x[i:j])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:

List_1 = ["a", "b"]
List_2 = [1, 2]
x= []

for i in List_1:
    for j in List_2:
        x.append([(i, j), (j, i)])

print(x)

[[('a', 1), (1, 'a')], [('a', 2), (2, 'a')], [('b', 1), (1, 'b')], [('b', 2), (2, 'b')]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
x=[1,1,2,3,4,5,1,2,1]
y=int(input("enter number"))
for i in x:
    if i==y:
        x.remove(i)
print(x)

enter number1
[2, 3, 4, 5, 2, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
x=["Gfg", "is", "best"]
z=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
d=[]
for i in z:
    d.append(x[i])
print(d)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list_1 = [(4, 5, 5, 4), (5, 4, 3)]
K_1 = 5
N_1 = 3
result = []


for tup in test_list_1:
    if tup.count(K_1) == N_1:
        result.append(tup)


print( result)

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
x=[[1,3,3],[2,1,2],[3,2,1]]
for i in range(len(x)):
  x.sort(key=lambda x:x[i])
  print(x)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
x={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(dict(sorted(x.items())))

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [37]:
x = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

for key in list(x.keys()):
    if isinstance(x[key], (int, float)) and x[key] > K:
        del x[key]

print(x)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [9]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)
print("/////////////////")
x={}
for i in (dic1,dic2,dic3):
    x.update(i)
print(x)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
/////////////////
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [6]:
x={'a':1,'b':2,'c':3}
for i in x:
    print(i,x[i])
"""////////////////////////"""
x={'a':1,'b':2,'c':3}
for i in x:
    print(i)
"""////////////////////////"""
x={'a':1,'b':2,'c':3}
for i in  x.values():
  print(i)

a 1
b 2
c 3
a
b
c
1
2
3

**44- Write a Python script to merge two Python dictionaries

In [2]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [1]:
x={'a':1,'b':2,'c':3}
print(max(x.values()))
print(min(x.values()))

3
1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [4]:
x = {'c1': 'Red', 'c2': 'Green', 'c3': None}

for i in list(x.keys()):
    if x[i] is None:
        del x[i]
print(x)

x = {'c1': 'Red', 'c2': 'Green', 'c3': None}

x = {key: value for key, value in x.items() if value is not None}

print(x)

{'c1': 'Red', 'c2': 'Green'}
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [5]:
x=(1,2,3,4,5)
print(x[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [6]:
x=(1,2,3,4,5)
c,z,b,n,m=x
print(c,z,b,n,m)

1 2 3 4 5

**49-Write a Python program to add an item to a tuple

In [7]:
x=(1,2,3,4,5)
y=list(x)
y.append(6)
x=tuple(y)
print(x)

x=(1,2,3,4,5)
z=6,
y=x+z
print(y)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

**50-Write a Python program to convert a tuple to a string

In [10]:
x=("h","e","l","l","o")
y="".join(x)
print(y)

hello
('h', 'e', 'l', 'l', 'o')

**51-Write a Python program to convert a list to a tuple

In [11]:
x=[1,2,3,4,5]
y=tuple(x)
print(y)

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [13]:
x=[1,2,3,4,5]
x.reverse()
print(x)
x=[1,2,3,4,5]
x[::-1]

[5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [3]:
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
z=x[0]
x[0]=x[-1]
x[-1]=z
print(x)

x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x[-1],x[0]=x[0],x[-1]
print(x)

[(70, 80, 90), (40, 50, 60), (10, 20, 40)]
[(70, 80, 90), (40, 50, 60), (10, 20, 40)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [4]:

x= "python 3.0"

y = tuple(x)


print("Original string:", x)
print("Converted tuple:", y)

Original string: python 3.0
Converted tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [5]:
x=(5,10,15,20,25)
z=0
for i in x:
  z+=i
print(z/len(x))

15.0

**56-Write a Python program to add member(s) to a set.

In [6]:
x={1,2,3,4,5}
y=int(input("enter number"))
x.add(y)
print(x)

enter number8
{1, 2, 3, 4, 5, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [7]:
x={1,2,3,4,5}
y=int(input("enter number"))
x.remove(y)
print(x)

enter number5
{1, 2, 3, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [11]:
x={1,2,3,4,5}
y={4,5,6,7,8}
print(x | y)
print(x&y)
print(x-y)
print(x^y)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [12]:
x={1, 2, 3, 4, 5, 6, 7, 8}
print(max(x))
print(min(x))

8
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [14]:
x=[1,2,3,4,5,6,7,8,9,10]
y=int(input("enter number"))
for i in x:
  for j in x:
    if i+j==y:
      print(i,j)

enter number8
1 7
2 6
3 5
4 4
5 3
6 2
7 1