<a href="https://colab.research.google.com/github/keroawad/python-tasks/blob/main/Keroules_Awad_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1- Write a Python program to find the area of a triangle**

In [ ]:
h=int(input("eneter the Height "))
b=int(input("eneter the base "))
area=.5*b*h
print(area)

eneter the Height 20
eneter the base 10
100.0

# **2- Write a Python program to swap two variables.**

In [ ]:
x=input("enter val1")
y=input("enter val2")
print(x ,y)
z=x
x=y
y=z
print(x ,y)

enter val110
enter val250
10 50
50 10

# **3-Write a Python program to enter a number from user and convert this number from kilometers to miles.**

In [ ]:
x=float(input("enter the mum of kilo"))
z=x*0.621371
print("kilo=",x)
print("miles=",z)

enter the mum of kilo20
kilo= 20.0
miles= 12.42742