<a href="https://colab.research.google.com/github/keroawad/AI-diploma/blob/main/task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1-Write a Python program that takes two numbers as user input and performs addition on them.

In [2]:
a=int(input("enter num1 "))
b=int(input("enter num2 "))
sum=a+b
print(sum)

enter num1 5
enter num2 7
12

### 2-Write a Python program that takes an integer as input and checks if it is even or odd. Print "Even" if the number is divisible by 2, otherwise print "Odd".

In [4]:
a=int(input("plz enter numer"))
if a%2==0:
  print("the numer even")
else:
   print("the numer odd")

plz enter numer6
the numer even

### 3-Write a Python program that prints all the even numbers from 1 to 20 using a for loop

In [5]:
for i in range(1,21):
 if i%2==0:
  print(i)

2
4
6
8
10
12
14
16
18
20

### 4-Write a Python function that takes a string as input and counts the number of vowels (a, e, i, o, u) in the string. The function should return the count

In [6]:
def count(x):
  c=0
  for i in range(len(x)):
    if x[i]=="a"or x[i]=="e"or x[i]=="i"or x[i]=="o"or x[i]=="u":
     c=c+1
  print(c)

count("keroules awad")

6

### 5-Write a Python program that creates a list of numbers from 1 to 10. Use a loop to iterate over the list and print each number of power 2.

In [7]:
n=[0,1,2,3,4,5,6,7,8,9,10]
for i in n:
  print(i**2)


n=[0,1,2,3,4,5,6,7,8,9,10]
for i in range(len(n)):
  print(n[i]**2)

0
1
4
9
16
25
36
49
64
81
100
0
1
4
9
16
25
36
49
64
81
100

### 6-Write a Python program that calculates the average grade for a student based on their scores in different subjects. The program should include the following steps:

#### 1-Create variables to store the student's name, subject names, and corresponding scores. Initialize the variables with sample data.

#### 2-Prompt the user to enter the student's name and assign it to the name variable.

#### 3-Use a loop to prompt the user to enter the subject names and corresponding scores. Store the subject names in a list and the scores in another list.

#### 4-After collecting the scores, calculate the average grade by summing up all the scores and dividing by the total number of subjects.

#### 5-Check if the average grade is above a 70, print a congratulatory message. Otherwise, print an encouragement message.

In [8]:
name=input("enter your name :")
num=int(input("enter num of sub :"))
sub_name=[]
sub_score=[]
for i in range(num):
  sub=input("enter sub name :")
  score=int(input("enter sub score :"))
  sub_name.append(sub)
  sub_score.append(score)
print(sub_name)
print(sub_score)
sum=0
for i in range(len(sub_score)):

  sum=sum+sub_score[i]
  avarde=sum/num

if avarde>70:
  print("congratulatory",name)
else:
  print("encouragement ",name)

enter your name :kero
enter num of sub :3
enter sub name :is
enter sub score :60
enter sub name :cs
enter sub score :80
enter sub name :bis
enter sub score :79
['is', 'cs', 'bis']
[60, 80, 79]
congratulatory kero

### 7-Find Common Elements
### Write a Python function that takes two lists as input and returns a new list containing the common elements present in both lists.

In [9]:
  k=[1,2,3,4,5]
  l=[1,3,4]
  def com(a,b):
    c=[]
    for i in a:
      for j in b:
        if i==j:
          c.append(i)
    print(c)
  com(k,l)

[1, 3, 4]

### 8-Write a Python function that takes a list of numbers and an element to remove from the list.

In [12]:
a = []
def n(a, element):
    for i in range(5):
        b = int(input("enter num: "))
        a.append(b)
    print(a)
    if element in a:
        a.remove(element)

    print(a)

n(a, 2)

enter num: 432
enter num: 45
enter num: 2
enter num: 12
enter num: 35
[432, 45, 2, 12, 35]
[432, 45, 12, 35]

### 9-Given 4 numbers A, B, C and D. Print the last 2 digits from their Multiplication.
### Example :
### the Multiplication of 4 numbers is 5 * 7 * 2 * 4 = 280 so the answer will be the last 2 digits which are 80.

In [14]:
a=int(input("enter num1 "))
b=int(input("enter num2 "))
c=int(input("enter num3 "))
d=int(input("enter num4 "))
z=str(a*b*c*d)
print(z)
print(z[-2:])
'''
\\\\\\\
'''
a=int(input("enter num1 "))
b=int(input("enter num2 "))
c=int(input("enter num3 "))
d=int(input("enter num4 "))
z=a*b*c*d
print(z)
print(z%100)
'''
\\\\\\\
'''
a=int(input("enter num1 "))
b=int(input("enter num2 "))
c=int(input("enter num3 "))
d=int(input("enter num4 "))
z=a*b*c*d
print(z)
for i in range(2):
  k=z%10
  print(k)
  z=z//10

enter num1 34
enter num2 2
enter num3 7
enter num4 4
1904
04
enter num1 34
enter num2 2
enter num3 7
enter num4 4
1904
4
enter num1 34
enter num2 2
enter num3 7
enter num4 4
1904
4
0

### 10- Given a number X. Determine if the number is prime or not

In [15]:
x=int(input("enter num "))
for i in range(2,x):
  if x%i==0:
    print("not prime")
    break
else:
    print("is prime")

enter num 7
is prime

### 11- Given a number N and a list A of N numbers. Determine if the number X exists in array A or not and print its position (0-index).

In [16]:
n=int(input("size list"))
a=[]
for i in range(n):
  k=int(input("enter num "))
  a.append(k)
print(a)
x=int(input("enter num "))
for i in range(len(a)):
  if a[i]==x:
    print("index num=",i)

size list3
enter num 21
enter num 43
enter num 5
[21, 43, 5]
enter num 43
index num= 1

### 12- Given a number N and a list A of N numbers. Determine if the array is lucky or not.

#### Note: the array is lucky if the frequency (number of occurrence) of the minimum element is odd.

In [17]:
n=int(input("size list"))
a=[]
for i in range(n):
  k=int(input("enter num "))
  a.append(k)
print(a)
b=min(a)
print(b)

size list4
enter num21
enter num4
enter num7
enter num5
[21, 4, 7, 5]

### 13-Given a number N and a list A of N numbers. Print the array after doing the following operations:

#### Find minimum number in these numbers.
#### Find maximum number in these numbers.
##### Swap minimum number with maximum number.

In [21]:
n = int(input("size list: "))
a = []

for i in range(n):
    k = int(input("enter num: "))
    a.append(k)

print(a)

b = min(a)
c = max(a)

print(b)
print(c)

min_index = a.index(b)
max_index = a.index(c)

temp = a[min_index]
a[min_index] = a[max_index]
a[max_index] = temp

print(a)

size list: 4
enter num: 23
enter num: 78
enter num: 2
enter num: 5
[23, 78, 2, 5]
2
78
[23, 2, 78, 5]

In [ ]:
maximum

### 14-Given a number N and an array A of N numbers. Print the lowest number and its position.

### Note: if there are more than one answer print first one's position.

In [28]:
n=int(input("size list "))
a=[]
for i in range(n):
  k=int(input("enter num " ))
  a.append(k)
print(a)
b=min(a)
print(b)
c=a.index(b)
print("index=",c)

size list 3
enter num 12
enter num 4
enter num 23
[12, 4, 23]
4
index= 1

### 15-Given a number N and an array A of N numbers. Print the numbers after sorting them

In [23]:
n=int(input("size list"))
a=[]
for i in range(n):
  k=int(input("enter num"))
  a.append(k)
print(a)
a.sort()
print(a)

size list4
enter num23
enter num4
enter num54
enter num2
[23, 4, 54, 2]
[2, 4, 23, 54]

### 16- Write a Python program to remove spaces from a given string

In [24]:
n=input("enter str")
print(n.replace(" ",""))

enter strkreo awad badie
kreoawadbadie

### 17-write a Python program to swap first and last element of any list.

In [26]:
a = [1, 2, 3]
print( a)
c = a[-1]
a[-1] = a[0]
a[0] = c
print(a)

[1, 2, 3]
[3, 2, 1]

# **Write a Python Program to Find HCF.**
## Highest Common Factor(HCF): HCF, or Highest Common Factor, is the largest positive integer that divides two or more numbers without leaving a remainder. Formula: For two numbers a and b, the HCF can be found using the formula:

** HCF(𝑎, 𝑏) = GCD(𝑎, 𝑏)**
For more than two numbers, you can find the HCF by taking the GCD of pairs of numbers at a time until you reach the last pair.

# **Note: GCD stands for Greatest Common Divisor, use function.**

In [27]:

def hcf(a, b):
    z = []
    if a > b:
        for i in range(1, b + 1):
            if a % i == 0 and b % i == 0:
                z.append(i)
    else:
        for i in range(1, a + 1):
            if a % i == 0 and b % i == 0:
                z.append(i)

    return max(z)


a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("HCF is:", hcf(a, b))

Enter first number: 18
Enter second number: 12
HCF is: 6